body, html {
    height: 100%;
    background-color: black
}

body {
    color: gray
}


#navbar {
    background: purple;
	padding: 80px
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	overflow: hidden;
}

.navLink {
    color: white;
    margin-right: 30px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.card-header {
    background: pink;
}

.card {
    margin-top: 30px;
    background: rgb(216, 164, 164);
}

.card-body {
    border: 4px solid rgb(211, 195, 195);
    background: gainsboro;
}

.headlineLink {
    text-decoration: none;
    color: purple
}

.headlineLink:hover {
    text-decoration: none;
    color: plum
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.articleImage {
    width: 100%
}

.buttonColumn {
    margin-right: 0px
}

.saveArticleButton {
    margin-top: 10px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.modal-header {
    background-color: palevioletred;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.buttonRow {
    margin-top: 10px
}

#titleinput,
#bodyinput {
    width: 100%
}

.articleContainer {
    padding-bottom: 50px;
    padding-top: 20px
}

.noteCard {
    display: block;
    width: 100%
    color: rgb(102, 94, 94)
}

.noteCardBody {
    color: rgb(102, 94, 94)
}


.modal-content{
    color: rgb(102, 94, 94)
}


saveNoteButton{
    color: blueviolet;
    margin: 20px;
    padding: 20px;
}