body, html {
    height: 100%;
    background-color: black
}

body {
    color: gray
}
.titleJumbotron {
    margin: 0px;
    background: gray;
    background-size: cover;
    background-attachment: fixed;
}

.headerDivJumbotron {
    margin-top: 50px;
    margin-bottom: 50px;
    background: plum;
    text-align: center;
    border: 5px solid black;
    padding: 20px;
}

#headerJumbotron {
    font-family: 'Special Elite', cursive;
    font-size: 50px;
    border-bottom: 2px solid black;
    
}

#subheaderJumbotron {
    background: pink;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px
}

#navbar {
    background: purple;
	padding: 10px 30px 10px 30px;
	font-family: 'Special Elite', cursive;
	overflow: hidden;
}

.navLink {
    color: white;
    margin-right: 50px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.card-header {
    background: lightgrey;
}

.card {
    margin-top: 20px;
}

.card-body {
    border: 2px solid black;
}

.headlineLink {
    text-decoration: none;
    color: white
}

.headlineLink:hover {
    text-decoration: none;
    color: yellowgreen
}

p {
    font-family: 'Open Sans', sans-serif;
}

.articleImage {
    width: 100%
}

.buttonColumn {
    margin-right: 0px
}

.saveArticleButton {
    margin-top: 10px;
    padding: 10px;
    font-family: 'Special Elite', cursive;
}

.modal-header {
    background-color: bisque;
    color: black;
    font-family: 'Special Elite', cursive;
}

.buttonRow {
    margin-top: 10px
}

#titleinput,
#bodyinput {
    width: 100%
}

.articleContainer {
    padding-bottom: 50px;
    padding-top: 20px
}

.noteCard {
    display: block;
    width: 100%
}

.noteCardBody {
    color: black
}